@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
    transition: all .3s ease;
    
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0%;
    padding: 0;
}

.all-c-n {
    width: 100%;
    height: 100%;
    opacity: 1;
    display: block;
}

.all-c-n .container {
    display: flex;
    width: 100%;
    height: 100%;
}


.sub-container-svg {
    flex: 0.7;
    background: #fff;
}

.sub-container-note {
    background: #000;
    width: 70% !important;
    position: relative;
    left: 28%;
}

.second-continer-note {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;     
    text-align: center;
}

.form {
    width: 25%;
    height: 250px;
    border: 1px solid #494949;
    color: #e9e9e9;
    background-color: rgb(255, 255, 255);
    color: #000;
    position: relative;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    top: 300px;
    left: 25%;
}

.title {
    position: absolute;
    top: 57% !important;
    color: #000;
    left: 25%;
    top: 6% !important;
    z-index: 2;
    font-weight: lighter;
}



svg {
    width: 30%;
    height: 30%;
    position: absolute;
    left: 10%;
    top: 26%;
}

input {
    margin-left: 10%;
    transition: all .3s ease;
}

input[type="text"] { 
    position: absolute;
    height: 30px;
    font-size: 17px;
    border-radius: 3px;
    width: 80%;
    top: 30%;
    border: 1px solid #ccc;
}

input[type="text"]:focus {
    border: #ccc 1px solid !important;
    border-left: #000fff 1px solid !important;
    border-right: #000fff 1px solid !important;
    border-top-left-radius: #000fff 1px solid !important;
    border-top-right-radius: #000fff 1px solid !important;
    border-bottom-left-radius: #000fff 1px solid !important;
    border-bottom: #000fff 1px solid !important;
    border-bottom-right-radius: #000fff 1px solid !important;

}

input[type="button"] {
    position: absolute;
    top: 120px;
    width: 80% !important;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}

input[value="Remove"] {
    background-color: #ff0000;
    font-size: 17px;
    border: none;
    position: absolute;
    top: 160px;
}

.form label{
    position: absolute;
    font-size: 13px;
    top: 31%;
    left: 35px;
    z-index: 1;
    font-weight: 500;
    color: #3c69ff;
    background-color: #fff;
    width: 105px;
}

input[value="Submit"] {
    z-index: 3;
    background-color: #8a2be2;
    border: none;
    position: absolute;
}

input[type="text"]:focus + label {
    font-size: 11px;
    position: absolute;
    top: 25%;
}

input[type="text"]:focus + label span {
    left: 15px;
}

input[type="text"]:focus-within span{
    background-color: #fff;
    
}

hr{
    width: 70px;
    height: 1%;
    margin-top: 5px;
    position: relative;
    left: -35px;
    top: -10px;
}

footer {
    height: 10% !important;
    z-index: 999 !important;
    background-color: #2962ff !important;
    position: absolute;
    top: 90%;
    width: 100%;
}

.writed-notes {
    opacity: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.writed-notes-showed {
    opacity: 1;
    display: block;
}

.all-c-n-hidden {
    opacity: 0;
    display: none;
}

#re {
    width: 150px;
    height: 30px;
    font-family: "Poppins", sans-serif;
    border: none;
    background-color: #61dafb;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    color: #2e2e2e;
    position: fixed !important;
    top: 70% !important;
    left: 80%;
    cursor: pointer;
    z-index: 9999;
}

footer .container .sub-container {
    text-align: start;
    position: relative;
}

#writed-notes {
    transition: none !important;
}

#writed-notes * {
    transition: none !important;
}

.n-svg {
    width: 120px !important;
    height: 100px !important;
    z-index: 2;
    position: absolute;
    left: 55%;
    top: 60%;
    cursor: pointer;
}

