@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  transition: all 0.3s ease;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0%;
  padding: 0;
}

.home-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  position: relative;
  overflow: hidden;
}

.sub-con {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 2%;
  left: 1.9%;
}

.enter {
  width: 160px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #2962ff;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 600;
  position: absolute;
  left: 7%;
}

.enter:hover {
  background-color: #1c4dc9;
}

.frist-half-in-home-page {
  width: 50%;
  height: 100%;
  position: absolute !important;
  top: 30%;
}

.frist-half-in-home-page .frist-half-in-home-page-sub-container h3 {
  position: relative;
  left: 5%;
}

.frist-half-in-home-page .frist-half-in-home-page-sub-container h1 {
  position: relative;
  left: 4%;
}

.second-half-in-home-page {
  width: 50%;
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000;
  position: absolute;
  left: 50%;
  top: 10%;
}

.second-half-in-home-page-sub-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-half-in-home-page-sub-container svg {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 12%;
  left: 33%;
}

.second-continer-note * {
  position: absolute;
}

header {
  width: 100%;
  height: 10%;
  background-color: #2962ff;
  z-index: 999 !important;
  position: absolute;
  top: 0;
}


a:not(.k, .header--s-a) {
  text-decoration: none !important;
  color: #000 !important;
  font-size: 17px;
  transition: all 0.7s ease;
  cursor: pointer;
  margin-left: 100px;
}

.h3-header {
  color: #fff;
  margin: 10;
  z-index: 999 !important;
  position: absolute !important;
  top: 30% !important;
  left: 4%;
}

.github-box {
  width: 25px;
  height: 25px;
  background: transparent;
  border: 1px solid #ccd;
  position: relative;
  top: -10% !important;
  left: 90%;
  top: 30%;
  border: none;
  border-radius: 5px;
}

.header-svg {
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1000;
  left: 10%;
  top: 8% !important;
}

.github-box:hover {
  transform: translateY(-4px);
  background-color: #fff;
}

.header-note-icon {
  position: absolute !important;
  left: 0.5% !important;
  top: 20%;
  width: 50px;
  height: 50px;
}

.header--s-a {
  position: absolute;
  left: 79.4%;
  top: 30% !important;
  color: #000 !important;
  text-decoration: none;
  display: flex;
  width: 129px;
}

.all-c-n-hidden .second-continer-note {
  opacity: 0;
  display: none;
}

.header--s-a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  height: 3px;
  width: 0;
  background-color: #000;
  transition: width .7s ease;
}

.header--s-a:hover::before {
  width: 100%;
}

.contactation {
  position: absolute;
  left: 85%;
  top: 30%;
  color: #fff;
  cursor: pointer;
}

.all-c-n {
  width: 100%;
  height: 100%;
  opacity: 1;
  display: block;
  position: relative;
  top: -10px;
}

.all-c-n .container {
  display: flex;
  width: 100%;
  height: 100%;
}

.sub-container-svg {
  flex: 0.7;
  background: #fff;
  height: 90%;
  z-index: -1;
}

.sub-container-note {
  background: #000;
  width: 70% !important;
  position: relative;
  left: 28%;
}

.second-continer-note {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  width: 25%;
  height: 250px;
  border: 1px solid #494949;
  color: #e9e9e9;
  background-color: rgb(255, 255, 255);
  color: #000;
  position: absolute;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  top: 25% !important;
  left: 25%;
}

.title {
  position: absolute;
  top: 57% !important;
  color: #000;
  left: 18% !important;
  top: 6% !important;
  z-index: 2;
  font-weight: lighter;
}

svg {
  width: 30%;
  height: 30%;
  position: absolute;
  left: 10%;
  top: 26%;
}

input {
  margin-left: 10%;
  transition: all 0.3s ease;
}

input[type="text"] {
  position: absolute;
  height: 30px;
  font-size: 17px;
  border-radius: 3px;
  width: 80%;
  top: 30%;
  border: 1px solid #ccc;
}

input[type="button"] {
  position: absolute;
  top: 120px;
  width: 80% !important;
  height: 30px;
  margin-top: 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
}

input[value="Remove"] {
  background-color: #ff0000;
  font-size: 17px;
  border: none;
  position: absolute;
  top: 160px;
}

.form label {
  position: absolute;
  font-size: 13px;
  top: 31%;
  left: 35px;
  z-index: 1;
  font-weight: 500;
  color: #3c69ff;
  background-color: #fff;
  width: 105px;
}

input[value="Submit"] {
  z-index: 3;
  background-color: #8a2be2;
  border: none;
  position: absolute;
}

input[type="text"]:focus + label {
  font-size: 11px;
  position: absolute;
  top: 25%;
}

input[type="text"]:focus + label span {
  left: 15px;
}

input[type="text"]:focus-within span {
  background-color: #fff;
}

hr {
  width: 70px;
  height: 1%;
  margin-top: 5px;
  position: relative;
  left: -35px;
  top: -10px;
}

footer {
  height: 10% !important;
  z-index: 999 !important;
  background-color: #2962ff !important;
  position: absolute;
  top: 90%;
  width: 100%;
}

.writed-notes {
  opacity: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.writed-notes-showed {
  opacity: 1;
  display: inline-block;
}

.all-c-n-hidden {
  opacity: 0;
  display: none;
}

#re {
  width: 150px;
  height: 30px;
  font-family: "Poppins", sans-serif;
  border: none;
  background-color: #61dafb;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  color: #2e2e2e;
  position: fixed !important;
  top: 70% !important;
  left: 80%;
  cursor: pointer;
  z-index: 9999;
}

footer .container .sub-container {
  text-align: start;
  position: relative;
}

#writed-notes {
  transition: none !important;
}

#writed-notes * {
  transition: none !important;
}

.n-svg {
  width: 120px !important;
  height: 100px !important;
  z-index: 2;
  position: absolute;
  left: 55%;
  top: 60%;
  cursor: pointer;
}

footer div {
  width: 100%;
  height: 100%;
}

nav a {
  position: relative;
  margin-left: 40px;
  margin-right: 35px !important;
  width: auto;
}

nav a:nth-child(1) {
  position: fixed !important;
  left: 55% !important;
}

nav a:nth-child(2) {
  position: fixed !important;
  left: 65% !important;
}

nav a:nth-child(3) {
  position: fixed !important;
  left: 75% !important;
}

nav a::before {
  content: "";
  width: 0px !important;
  height: 3px !important;
  background-color: #000;
  position: absolute;
  bottom: -3px;
  transition: all 0.7s ease;
}

nav a:hover::before {
  position: absolute !important;
  width: 100% !important;
  transition: all 0.7s ease;
}

nav {
  position: absolute;
  top: 35%;
  left: 50%;
}

footer p {
  position: absolute;
  top: 35%;
  left: 3%;
}

.copyright-p {
  position: absolute;
  top: 70%;
  left: 40%;
}

.alert-div {
  width: 300px;
  height: 100px;
  background-color: #000fff;
  position: fixed;
  left: 40%;
  background-color: #2e2e2e;
  color: #fff;
  z-index: 9;
  display: flex;
  justify-content: end;
  border-top: 2px solid rgb(255, 196, 0);
  overflow: visible;
  top: -120%;
  z-index: 9999;
}

.alert-div * {
  overflow: visible;
}

.alert-div p {
  margin-right: 20px;
  position: absolute !important;
  top: 30% !important;
}

.alert-div .a-icon {
  width: 22%;
  height: 80%;
  position: absolute;
  left: 2%;
  top: 10%;
}

.alert-div .a-icon .sub {
  width: 100%;
  height: 100%;
}


.alert-div button {
  height: 33px !important;
  width: 70px !important;
  font-size: 17px;
  background: #2e3cff;
  color: #fff;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 60%;
  left: 70%;
  box-shadow: 0 0 9px 2px rgb(19, 19, 19);
  z-index: 9999;
  transition: all 0.7s ease;
  cursor: pointer;
}

.alert-div button:hover {
  scale: 0.95;
  box-shadow: none;
}

.warn {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 0%;
}

.alert-div-s {
  position: absolute;
  top: 0%;
}
p.f {
  position: absolute !important;
  top: 10% !important;
  left: 30%;
}

p.se {
  position: absolute !important;
  left: 30%;
  top: 30% !important;
}


a {
  cursor: pointer;
  color: #1825db;
  text-decoration: underline;
}

.about-authour {
  width: 250px;
  height: 400px;
  position: absolute;
  top: 20%;
  left: 40%;
  border-radius: 20px;
  display: none;
}

.about-authour .card {
  width: 100%;
  height: 100%;
  columns: 1;
}

.about-authour .card .top{
  width: 100%;
  height: 25%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #2962ff;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-self: center;
}

.img {
  border-radius: 50%;
  color: #F5F7FA;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 35%;
  top: 2%;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  font-size: 20px;
  background: linear-gradient(
  135deg,
  #0D1B3D,
  #8A2BE2
);
}
.card *:not(.top, .img):not(.top *, .img *), .card button.ath-card-btn {
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin: 10px;
  position: relative;
  top: 3%;
}

.card button.ath-card-btn {
  position: fixed;
  left: 22%;
  width: 140px;
  height: 40px;
  background-color: #000fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #000;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  transition: all .9s ease;
  margin-top: 30px !important;
}

.card button.ath-card-btn:hover {
  box-shadow: none;
  scale: 0.95;
}

.card:hover {
  transform: translateX(-5px);
  transform: translateY(-5px);
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  box-shadow: 0 0 0 transparent;
  transition: box-shadow 0.3s ease;
  pointer-events: none;
}


.card:hover::before {
  box-shadow: 15px 15px 20px rgb(0,0,0, 0.3);
}

.about-authour-showed {
  display: block;
}

.projects-card-container {
  width: 260px;
  height: 260px;
  position: relative;
  top: -0% !important;
  display: inline-block;
  border-radius: 20px;
  border: 1px solid #000;
  overflow: visible;
}

.projects-card-container, .spl-card {
  box-shadow: 0 10px 10px #0000;
}

.projects-card-container *, .spl-card * {
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  position: relative;
  top: 0% !important;
}

.projects-card-container *:not(button), .spl-card *:not(button) {
  margin: 7px;
}

.projects-card-container p, .spl-card p {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.spl-card {
  position: absolute;
  top: 12% !important;
}


.projects-card-container[data-crd-tpe="seriers"] {
  position: absolute;
  left: 5% !important;
  top: 32% !important;
}

.projects-card-container[data-sirs="designs-seriers"] {
  left: -50%;
  top: 25%;
}

.q {
  position: absolute;
  left: 80%;
  top: 25% !important;
}

.d {
  position: absolute !important;
  top: 10% !important;
}

.projects-card-container:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0.6);
}



.my-project {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: visible;
}

.projects-card-container .card-1 {
  position: absolute !important;
  top: 0% !important;
}

.ind-p-s {
  position: absolute;
  top: 90% !important;
}

.ga {
  position: absolute !important;
  top: 70% !important;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ga * {
  margin: 5px;
  position: relative !important;
  top: -10% !important;
}

.submittt {
 width: 10em !important;
 height: 2.5em !important;
 border-radius: 30em;
 font-size: 15px;
 font-family: inherit;
 border: none;
 position: relative;
 overflow: hidden;
 z-index: 1;
 background-color: #2962FF;
 color: #efefef;
}

.submittt::before {
 content: '';
 width: 0;
 height: 2.5em;
 border-radius: 30em;
 position: absolute;
 top: 0;
 left: 0;
 background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
 transition: .5s ease;
 display: block;
 z-index: -1;
 
}

.submittt:hover::before {
 width: 10em;
}

.submittt:hover {
 color: #000808;
 font-size: 16px;
}

button {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.my-project-showed {
  display: block;
}

#notessssss p:nth-child(1) {
  margin-top: 5%;
}

#notessssss p {
    margin-left: 10px;

}

/*https://www.youtube.com/shorts/zoNyFRPOrcE*/
