@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  transition: all 0.3s ease;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0%;
  padding: 0;
}

.all-c-n {
  width: 100%;
  height: 100%;
  opacity: 1;
  display: block;
  position: relative;
}

.all-c-n .container {
  display: flex;
  width: 100%;
  height: 100%;
}

.sub-container-svg {
  flex: 0.7;
  background: #fff;
}

.sub-container-note {
  background: #000;
  width: 70% !important;
  position: relative;
  left: 28%;
}

.second-continer-note {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  width: 25%;
  height: 250px;
  border: 1px solid #494949;
  color: #e9e9e9;
  background-color: rgb(255, 255, 255);
  color: #000;
  position: absolute;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  top: 25% !important;
  left: 25%;
}

.title {
  position: absolute;
  top: 57% !important;
  color: #000;
  left: 25%;
  top: 6% !important;
  z-index: 2;
  font-weight: lighter;
}

svg {
  width: 30%;
  height: 30%;
  position: absolute;
  left: 10%;
  top: 26%;
}

input {
  margin-left: 10%;
  transition: all 0.3s ease;
}

input[type="text"] {
  position: absolute;
  height: 30px;
  font-size: 17px;
  border-radius: 3px;
  width: 80%;
  top: 30%;
  border: 1px solid #ccc;
}

input[type="button"] {
  position: absolute;
  top: 120px;
  width: 80% !important;
  height: 30px;
  margin-top: 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
}

input[value="Remove"] {
  background-color: #ff0000;
  font-size: 17px;
  border: none;
  position: absolute;
  top: 160px;
}

.form label {
  position: absolute;
  font-size: 13px;
  top: 31%;
  left: 35px;
  z-index: 1;
  font-weight: 500;
  color: #3c69ff;
  background-color: #fff;
  width: 105px;
}

input[value="Submit"] {
  z-index: 3;
  background-color: #8a2be2;
  border: none;
  position: absolute;
}

input[type="text"]:focus + label {
  font-size: 11px;
  position: absolute;
  top: 25%;
}

input[type="text"]:focus + label span {
  left: 15px;
}

input[type="text"]:focus-within span {
  background-color: #fff;
}

hr {
  width: 70px;
  height: 1%;
  margin-top: 5px;
  position: relative;
  left: -35px;
  top: -10px;
}

footer {
  height: 10% !important;
  z-index: 999 !important;
  background-color: #2962ff !important;
  position: absolute;
  top: 90%;
  width: 100%;
}

.writed-notes {
  opacity: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.writed-notes-showed {
  opacity: 1;
  display: block;
}

.all-c-n-hidden {
  opacity: 0;
  display: none;
}

#re {
  width: 150px;
  height: 30px;
  font-family: "Poppins", sans-serif;
  border: none;
  background-color: #61dafb;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  color: #2e2e2e;
  position: fixed !important;
  top: 70% !important;
  left: 80%;
  cursor: pointer;
  z-index: 9999;
}

footer .container .sub-container {
  text-align: start;
  position: relative;
}

#writed-notes {
  transition: none !important;
}

#writed-notes * {
  transition: none !important;
}

.n-svg {
  width: 120px !important;
  height: 100px !important;
  z-index: 2;
  position: absolute;
  left: 55%;
  top: 60%;
  cursor: pointer;
}

footer div {
  width: 100%;
  height: 100%;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
  position: fixed;
  left: 65%;
  margin-left: 35px;
  transition: all 0.7s ease;
  cursor: pointer;
  margin-left: 100px;
}

nav a:nth-child(1) {
  position: fixed !important;
  left: 60% !important;
}

nav a:nth-child(2) {
  position: fixed !important;
  left: 70% !important;
}

nav a:nth-child(3) {
  position: fixed !important;
  left: 80% !important;
}

nav a::before {
  content: "";
  width: 0px !important;
  height: 3px !important;
  background-color: #000;
  position: absolute;
  bottom: -3px;
  transition: all 0.7s ease;
}

nav a:hover::before {
  position: absolute !important;
  width: 100% !important;
  transition: all 0.7s ease;
}

nav {
  position: absolute;
  top: 35%;
  left: 50%;
}

footer p {
  position: absolute;
  top: 35%;
  left: 3%;
}

.copyright-p {
  position: absolute;
  top: 70%;
  left: 40%;
}

.alert-div {
  width: 400px;
  height: 100px;
  background-color: #000fff;
  position: absolute;
  left: 37%;
  background-color: #2e2e2e;
  color: #fff;
  z-index: 9;
  display: flex;
  justify-content: end;
  border-top: 2px solid rgb(255, 196, 0);
  overflow: visible;
  top: -20%;
}

.alert-div * {
  overflow: visible;
}

.alert-div p {
  margin-right: 20px;
  position: absolute !important;
  top: 30% !important;
}

.alert-div .a-icon {
  width: 22%;
  height: 80%;
  position: absolute;
  left: 2%;
  top: 10%;
}

.alert-div .a-icon .sub {
  width: 100%;
  height: 100%;
}


.alert-div button {
  height: 33px !important;
  width: 70px !important;
  font-size: 17px;
  background: #2e3cff;
  color: #fff;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 60%;
  left: 80%;
  box-shadow: 0 0 9px 2px rgb(19, 19, 19);
  z-index: 9999;
  transition: all 0.7s ease;
  cursor: pointer;
}

.alert-div button:hover {
  scale: 0.95;
  box-shadow: none;
}

.warn {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 0%;
}

.alert-div-s {
  position: absolute;
  top: 0;
}
p.f {
  position: absolute !important;
  top: 10% !important;
  left: 30%;
}

p.se {
  position: absolute !important;
  left: 30%;
  top: 30% !important;
}


a {
  cursor: pointer;
  color: #1825db;
  text-decoration: underline;
}

.card {
  position: absolute;
  left: 40%;
  top: 20%;
  height: 400px;
  width: 300px;
  border: 1px solid #000808;
  border-radius: 20px;
}

#about-author .card .top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%;
  background-color: #1825db;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card .top

#authour .card {
  position: absolute;
  left: 40%;
  top: 20%;
  height: 400px;
  width: 300px;
  border: 1px solid #000808;
}