@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body,
button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    height: 100px;
    background-color: #000;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    margin: 20px;
    position: relative;
    left: -80px;
}

a:not(footer a)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.8s ease-in-out;
}

a:not(footer a):hover::before {
    width: 100%;
    transition: width 0.4s ease-in-out;
}


.product {
    display: inline-block;
    margin: 10px;
    margin-top: 20px;
    width: 20%;
    min-width: 250px;
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    left: 7%;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.product button {
    position: relative;
    left: 10%;
    top: -0px;
    background-color: #000;
    color: white;
    border: none;
    width: 80%;
    height: 40px;
    min-width: 100px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: all 0.3s ease-in-out;
}

.product button:hover {
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

.product h4 {
    position: relative;
    left: 10px;
    top: -10px;
}

.m-1 {
    width: 50%;
    height: 35%;
    
}

.product label {
    position: relative;
    left: 20px;
    top: -30px;
}

h2 {
    text-align: center;
}

img {
    width: 70%;
    height: 100px;
    position: relative;
    left: 15%;
}


.micro-h4 {
    position: relative !important;
    top: -25px !important;
}

.product:nth-child(2) label {
    top: -45px !important;
    left: 20px !important;
}

.product:nth-child(2) button {
    top: -15px !important;
}

.product:nth-child(3) img {
    height: 40%;
    width: 30%;
    position: relative;
    left: 35%;
}

.product:nth-child(3) button {
    position: relative;
    top: -25px;
}

.product:nth-child(3) h4 {
    position: relative !important;
    top: -15px !important;
}

.product:nth-child(4) img {
    height: 40%;
    width: 30%;
    position: relative;
    left: 35%;
}



.product:nth-child(4) button {
    position: relative;
    top: -25px;
}

.product:nth-child(4) h4 {
    position: relative !important;
    top: -15px !important;
}

.product:nth-child(5) img {
    height: 40%;
    width: 40%;
    position: relative;
    left: 27%;
}

.s_b {
    position: relative !important;
    top: -30px !important;
}

@media (max-width: 300px) {
    strong {
        position: relative;
        top: -10px;
    }

    #add_for_car {
        position: relative !important;
        left: -10px !important;
    }
}

.product:nth-child(6) button {
    top: -50px;
}

.product:nth-child(7) button {
    top: -25px;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
}

.showen {
    opacity: 1;
    transform: translateY(0);
}

.hidden,
.showen {
    transition: opacity .4s ease, transform .4s ease;
}


footer {
    margin-top: 100px;
    width: 100%;
    text-align: start;
    overflow: visible;
    background-color: #000;
    color: #fff;
}

footer nav {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10%;
    width: 20%;
    gap: 5px;
    margin: 0;
}

footer h3 {
    font-size: 16px;
    margin: 0;
    position: relative;
    left: 20px !important;
    width: 50%;
}

footer a:hover {
    color: #ffa600;
}

footer nav a {
    font-size: 14px;
    margin: 0;
    width: fit-content;
}